body {
    background-color: #282a36;
    font-family: 'Arial','Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    font-size: 20px;
}

#console {
    background-color: #282a36;
    color: snow;
    margin: 5vw;
    min-height: 50vh;

    line-height: 28px;
}