body {
    background-color: #282a36;
    font-family: 'Arial','Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    font-size: 18px;
}

main {
    background-color: #282a36;
    color: snow;
    margin: 5vw;
    min-height: 50vh;
}

a {
    background-color: rgba(0,0,0,0);
    text-align:left;
    width: 100%;
    color: snow;

    display: inline-block;

    padding-left: 0.2rem;

    border: 1px solid gray;

    margin: 0.5rem 0;

    box-sizing: border-box;

    text-decoration:none;

    font-size: 25px;
}